@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PIM</h1>
    <p class="lead">Jean Bertrand - Alexandre Thorez</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>CRUD Products</p>
        <p>Filtering Products by name</p>
        <p>Edit and set image</p>
    </div>
</div>